.calendar-header{
  margin: 0 0 10px 0;
  .today,.previus,.next {
    margin:0 10px;
  }
}

.calendar-panel{
  &.calendar-blue{
    table{
      background: #2a88bd;
      color:#FFF;
    }
  }
  &.calendar-red{
    table {
      background: #ff6666;
      color: #FFF;
    }
  }
}